$bg-page1: #F8F9FA;
$bg-page2: #FFFFFF;
$bg-element1: #FFFFFF;
$bg-element2: #F8F9FA;
$bg-element3: #E9ECEF;
$bg-element4: #DEE2E6;
$bg-element5: #212529;
$bg-element6: #343A40;
$bg-element7: #FFFFFF;
$bg-element8: #FBFDFC;
$bg-invert: #1E1E1E;
$bg-inline-code: #E9ECEF;
$bg-tag: #F8F9FA;
$text1: #212529;
$text2: #495057;
$text3: #868E96;
$text4: #CED4DA;
$border1: #343A40;
$border2: #ADB5BD;
$border3: #DEE2E6;
$border4: #F1F3F5;
$primary1: #12B886;
$primary2: #20C997;
$destructive1: #FF6B6B;
$destructive2: #FF8787;
$button-text: #FFFFFF;
$slight-layer: rgba(0,0,0,0.05);
$opaque-layer: rgba(249,249,249,0.85);
$editor-footer: #FFFFFF;
$prism-bg: #fbfcfd;
$prism-default-text: #24292e;
$prism-selection-bg: rgba(0,0,0,0.15);
$prism-code-block-bg: #fbfcfd;
$prism-code-1: #969896;
$prism-code-2: #24292e;
$prism-code-3: #a626a4;
$prism-code-4: #63a35c;
$prism-code-5: #0184bc;
$prism-code-6: #50a14f;
$prism-code-7: #a626a4;
$prism-code-8: #005cc5;
$prism-code-9: #a626a4;
$prism-line-number: #585c63;
$color-gray-roboflow-800: #191919;
$color-gray-roboflow-700: #2b2b2b;
$color-gray-roboflow-600: #4a4a4a;
$color-gray-roboflow-500: #767676;
$color-gray-roboflow-400: #a5a5a5;
$color-gray-roboflow-300: #cdcdcd;
$color-gray-roboflow-200: #e9e9e9;
$color-gray-roboflow-100: #f1f1f1;
$color-gray-roboflow-50: #f9f9f9;
$color-white-mochimalist-0: #fff;
$color-yellow-caramellow-900: #662400;
$color-yellow-caramellow-800: #7c2d00;
$color-yellow-caramellow-700: #943a00;
$color-yellow-caramellow-600: #aa4900;
$color-yellow-caramellow-500: #bd5b00;
$color-yellow-caramellow-450: #d86800;
$color-yellow-caramellow-400: #e18d00;
$color-yellow-caramellow-300: #fdc900;
$color-yellow-caramellow-200: #fae600;
$color-yellow-caramellow-100: #fffd92;
$color-yellow-caramellow-50: #fffebb;
$color-yellow-caramellow-0: #fffedb;
$color-orange-firetini-900: #660e00;
$color-orange-firetini-800: #842000;
$color-orange-firetini-700: #a42700;
$color-orange-firetini-600: #c32f00;
$color-orange-firetini-500: #de3700;
$color-orange-firetini-450: #ff5b45;
$color-orange-firetini-400: #f77a38;
$color-orange-firetini-300: #fda161;
$color-orange-firetini-200: #ffc58f;
$color-orange-firetini-100: #ffe4c1;
$color-orange-firetini-50: #fff0db;
$color-orange-firetini-0: #fff6eb;
$color-purple-mysticool-900: #2c0066;
$color-purple-mysticool-800: #400387;
$color-purple-mysticool-700: #550aa9;
$color-purple-mysticool-600: #6b16ca;
$color-purple-mysticool-500: #812ae7;
$color-purple-mysticool-450: #8a39fa;
$color-purple-mysticool-400: #9e68ff;
$color-purple-mysticool-300: #b190ff;
$color-purple-mysticool-200: #d5c7ff;
$color-purple-mysticool-100: #e9e4ff;
$color-purple-mysticool-50: #f0edff;
$color-purple-mysticool-0: #f8f7ff;
$color-green-matchacado-900: #00261a;
$color-green-matchacado-800: #003020;
$color-green-matchacado-700: #00422c;
$color-green-matchacado-600: #005f3e;
$color-green-matchacado-500: #008753;
$color-green-matchacado-450: #1dad65;
$color-green-matchacado-400: #39d377;
$color-green-matchacado-300: #6bec8c;
$color-green-matchacado-200: #a4f9ac;
$color-green-matchacado-100: #c3f9c2;
$color-green-matchacado-50: #e3fae1;
$color-green-matchacado-0: #f6fdf5;
$color-teal-spabattical-900: #003440;
$color-teal-spabattical-800: #005062;
$color-teal-spabattical-700: #005c62;
$color-teal-spabattical-600: #006b6c;
$color-teal-spabattical-500: #00857c;
$color-teal-spabattical-450: #009990;
$color-teal-spabattical-400: #26c0b4;
$color-teal-spabattical-300: #48d5c6;
$color-teal-spabattical-200: #75e4d5;
$color-teal-spabattical-100: #ccf6ee;
$color-teal-spabattical-50: #e6faf5;
$color-teal-spabattical-0: #f7fdfc;
$color-blue-skycicle-900: #002966;
$color-blue-skycicle-800: #003c96;
$color-blue-skycicle-700: #004ba9;
$color-blue-skycicle-600: #005fcb;
$color-blue-skycicle-500: #0074e8;
$color-blue-skycicle-450: #007cff;
$color-blue-skycicle-400: #45a3fe;
$color-blue-skycicle-300: #75bfff;
$color-blue-skycicle-200: #abdbff;
$color-blue-skycicle-100: #d7edff;
$color-blue-skycicle-50: #e6f4ff;
$color-blue-skycicle-0: #f7fbff;
$color-pink-flaminglow-900: #630233;
$color-pink-flaminglow-800: #82053e;
$color-pink-flaminglow-700: #a30c4a;
$color-pink-flaminglow-600: #c31952;
$color-pink-flaminglow-500: #de2c62;
$color-pink-flaminglow-450: #ee376a;
$color-pink-flaminglow-400: #f76593;
$color-pink-flaminglow-300: #fe8eb1;
$color-pink-flaminglow-200: #ffbed2;
$color-pink-flaminglow-100: #ffdfe9;
$color-pink-flaminglow-50: #ffebf1;
$color-pink-flaminglow-0: #fff8fa;
$color-red-pushpin-900: #600;
$color-red-pushpin-800: maroon;
$color-red-pushpin-700: #9b0000;
$color-red-pushpin-600: #b60000;
$color-red-pushpin-500: #c00;
$color-red-pushpin-450: #e60023;
$color-red-pushpin-400: #eb4242;
$color-red-pushpin-300: #f47171;
$color-red-pushpin-200: #fcbbbb;
$color-red-pushpin-100: #ffe0e0;
$color-red-pushpin-50: #ffebeb;
$color-red-pushpin-0: #fff7f7;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-normal: 400;
$font-size-600: 36px;
$font-size-500: 28px;
$font-size-400: 20px;
$font-size-300: 16px;
$font-size-200: 14px;
$font-size-100: 12px;
$space-negative-600: -64px;
$space-negative-500: -32px;
$space-negative-400: -24px;
$space-negative-300: -16px;
$space-negative-200: -8px;
$space-negative-100: -4px;
$space-600: 64px;
$space-500: 32px;
$space-400: 24px;
$space-300: 16px;
$space-200: 8px;
$space-100: 4px;
$space-0: 0;